@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #bf000f;
  --color-secondary: #282828;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* SEARCHBAR INPUT */
.searchbar-input {
  @apply flex-1 min-w-[200px] w-full p-3 border border-gray-300 rounded-lg shadow-xs text-base text-gray-500 focus:outline-none;
}

.searchbar-btn {
  @apply bg-gray-900 border border-gray-900 rounded-lg shadow-xs px-5 py-3 text-white text-base font-semibold hover:opacity-90 disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-40;
}

/* CAROUSEL */
.hero-carousel {
  @apply relative sm:px-10 py-5 sm:pt-20 pb-5 max-w-[560px] h-[700px] w-full bg-[#F2F4F7] rounded-[30px] sm:mx-auto;
}

.carousel {
  @apply flex flex-col-reverse h-[700px];
}

.carousel .control-dots {
  @apply static;
}

.carousel .control-dots .dot {
  @apply w-[10px] h-[10px] bg-[#D9D9D9] rounded-full bottom-0;
}

.carousel .control-dots .dot.selected {
  @apply bg-[#475467];
}

/* NAVBAR */
.nav {
  @apply flex justify-between items-center px-6 md:px-20 py-4;
}

.nav-logo {
  @apply text-[21px] text-secondary font-bold;
}

.head-text {
  @apply mt-4 text-6xl leading-[72px] font-bold tracking-[-1.2px] text-gray-900;
}

.small-text {
  @apply flex gap-2 text-sm font-medium text-primary;
}
.section-text {
  @apply text-secondary text-[32px] font-semibold;
}

.paragraph-text {
  @apply text-xl leading-[30px] text-gray-600;
}

/* PRODUCT CARDS */

.product-card {
  @apply sm:w-[292px] sm:max-w-[292px] w-full flex-1 flex flex-col gap-4 rounded-md;
}

.product-card_img-container {
  @apply flex-1 relative flex flex-col gap-5 p-4 rounded-md;
}

.product-card_img {
  @apply max-h-[250px] object-contain w-full h-full bg-transparent;
}

.product-title {
  @apply text-secondary text-xl leading-6 font-semibold truncate;
}

/* PRODUCT DETAILS PAGE STYLES */

.product-container {
  @apply flex flex-col gap-16 flex-wrap px-6 md:px-20 py-24;
}

.product-image {
  @apply flex-grow xl:max-w-[50%] max-w-full py-16 border border-[#CDDBFF] rounded-[17px];
}

.product-info {
  @apply flex items-center flex-wrap gap-10 py-6 border-y border-y-[#E4E4E4];
}

.product-hearts {
  @apply flex items-center gap-2 px-3 py-2 bg-[#FFF0F0] rounded-[40px];
}

.product-stars {
  @apply flex items-center gap-2 px-3 py-2 bg-[#FBF3EA] rounded-[27px];
}

.product-reviews {
  @apply flex items-center gap-2 px-3 py-2 bg-[#FFF0F0] rounded-[27px];
}

.btn {
  @apply py-4 px-4 bg-secondary hover:bg-gray-700  rounded-[30px] text-white text-lg font-semibold;
}

/* MODAL */
.dialog-container {
  @apply fixed inset-0 z-10 overflow-y-auto bg-black bg-opacity-25;
}

.dialog-content {
  @apply p-6  bg-white inline-block w-full max-w-md my-8 overflow-hidden text-left align-middle transition-all transform  shadow-xl rounded-2xl;
}

.dialog-head_text {
  @apply text-secondary text-lg leading-[24px] font-semibold mt-4;
}

.dialog-input_container {
  @apply px-5 py-3 mt-3 flex items-center gap-2 border border-gray-300 rounded-[27px];
}

.dialog-input {
  @apply flex-1 pl-1 border-none text-gray-500 text-base focus:outline-none border border-gray-300 rounded-[27px] shadow-xs;
}

.dialog-btn {
  @apply px-5 py-3 text-white text-base font-semibold border border-secondary bg-secondary rounded-lg mt-8;
}

/* PRICE INFO */
.price-info_card {
  @apply flex-1 min-w-[200px] flex flex-col gap-2 border-l-[3px] border-l-[#E4E4E4] rounded-md bg-[#F9FAFB] px-5 py-4;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
